@font-face {
    font-family: "stocky";
    src: url("../fonts/stocky.ttf");
}

@font-face {
    font-family: "KGWhat";
    src: url("../fonts/MachineScript.ttf");
}

@font-face {
    font-family: "regis";
    src: url("../fonts/MachineScript.ttf");
}

$title-font: 'stocky';
$subtitle-font: 'KGWhat';
$text-font: 'regis';
$title-size: 2.3em;
$subtitle-size: 2.3em;
$h4-size: 1.9em;
$h5-size: 1.3em;
$text-size: 1.8em;
$text-size2: 1.2em;
$filter-size: 0.8em;
$primary: #111111;
$secondary: #c9d1db;
$info: #f1eded;
$dark: #111111;
$light: #f9f9f9;
$white: #ffffff;
$card-text-color:#cfdbdf;
$card-font-weight: 600;
$header-size1: 100px;
$header-size2: 4em;
$header-size3: 3em;
$header-size4: 2em;
$navbar-responsive-font-size: 15px;
$navbar-logo-size: 160px;
$border-radius-button-nav: 7.5px;
$button-font-size: 0.5em;